h1 {
  color: blue;
}

.highlight {
  color: deepblue;
}

#products {
  color: black;
}

.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(dodgerblue, yellow, tomato);
  margin: auto;
}
