body {
  height: 200vh;
}

.boxes {
  border: 3px solid black;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: red;
}

.box-two {
  background-color: green;
  position: fixed;
  top: 0px;
}

.box-three {
  background-color: blue;
}
